.btn {
  border-radius: 3px;
  padding: 12px 20px;
  display: inline-block;
}

.btn--color-transperent {
  background-color: transparent;
}

.btn--border-white {
  border: 1px solid white;
}

.btn--border-none {
  border: none;
}

.btn--learnMore {
  border-radius: 1px;
  padding: 10px 30px;
  border: none;
  letter-spacing: 0.5px;
  font-size: 0.825rem;
  background-color: white;
}
