.grid-container {
  max-width: 1140px;
  height: 610px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-areas: "mainPicture mainPicture more server" "mainPicture mainPicture laptop paragraph"; */
}

.grid-mainPicture {
  background-image: url(../Pictures/b4f60df5-647e-b99f-a687-ec47c26aa869.jpg);
  grid-area: 1/1/3/3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1024;
}

.grid-paragraph {
  font-style: italic;
  text-align: left;
  background-color: var(--light-blue);
  z-index: 1024;
}

.grid-server {
  background-image: url(../Pictures/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1024;
}

.grid-laptop {
  background-image: url(../Pictures/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1024;
}

.grid-more {
  text-align: left;
  z-index: 1024;
  background-color: var(--cyan);
}

.grid-more {
  padding: 30px;
}

.grid-more h2,
.grid-more button {
  color: var(--blue);
  font-weight: 700;
}

.grid-more button {
  margin: 30px auto 0 0;
  width: 70%;
}

.grid-paragraph {
  padding: 20px;
}

.grid-paragraph p {
  color: black;
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 1541px;
    max-width: 720px;
  }

  .main {
    max-height: 100%;
  }

  .grid-mainPicture {
    grid-row: 1/3;
  }
}

@media screen and (max-width: 769px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr 2fr 1fr;
    height: 1330px;
    max-width: 340px;
  }

  .grid-mainPicture {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .grid-more {
    padding: 20px 30px;
  }
}
