html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --yellow: #ffc600;
  --blue: #494399;
  --cyan: #72efe9;
  --light-blue: #c2bfed;
  --gray: #333333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: 72px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.style-transperent {
  background-color: transparent;
}

.text-white {
  color: white;
}

.text-gray {
  color: gray;
}

.text-red {
  color: red;
}

.text-uppercase {
  text-transform: uppercase;
}

i {
  font-size: 24px;
}

.inlineBlock {
  display: inline-block;
}

.center-text {
  text-align: center;
}

.display-block {
  display: block;
}

/* .grid-item {
  display: grid;
  align-items: center;
  justify-content: center;
} */
